
body{
    margin: 0;
    border: 0;
    padding: 0;
}

.body{
    width: 100%;
    height: auto;
    min-height: 950px;
    background-color: red;
    color: white;
    justify-content: flex-end;
}

.bloque{
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    width: 30%;
    height: 100px;
    background-color: green;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.bloque1{
    margin: 0;
    border: 0;
    padding: 0;
    width: 20%;
    height: 80px;
    background-color: white;
    border-radius: 20px;
}

.bloque2{
    margin: 10px;
    border: 0;
    padding: 0;
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}

.bloque3{
    margin: 0;
    border: 0;
    padding: 0;
    width: 45%;
    height: 80px;
    background-color: white;
    border-radius: 20px;
}

#menu{
    width: 100%;
    height: auto;
    min-height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contenido{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: white;
    justify-content: space-around;
}

.cont1{
    display: flex;
    width: 95%;
    height: auto;
    background-color: white;
    flex-direction: column;
}

.historia{
    display: flex;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 150px;
    background-color: grey;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}

.v_1{
    width: 15%;
    height: 130px;
    background-color: green;
    border-radius: 20px;
}

.v_2{
    width: 80%;
    height: 130px;
    background-color: green;
    border-radius: 20px;
}

button{
    width: 150px;
    height: 40px;
    background-color:grey;
    color: white;
    border-radius: 5px;
    border: 1px;
}

#footer{
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.footer1{
    width: 33%;
    height: 280px;
    background-color: green;
}

.footer1:hover{
    background-color: white;
}